<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ company_name }} - {{ body_header }}</title>

</head>

<body>

    <style>
        * {
            border-radius: 0 !important;
        }
        
        .filler {
            margin-bottom: 5em;
        }
        
        body {
            background-color: #f8f8f8;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="filler"></div>
                <img src="{{ company_logo }}" alt="Logo" class="img-fluid" style="width: 200px; height: auto;" />
                <div class="filler"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="card bg-default">
                    <div class="card-body text-center">
                        <p class="lead" style="font-weight: 200; font-size: 1.7em;">{{ body_header }}</p>
                        <br /> {% if valid_token %}
                        <div id="errors"></div>
                        <br /><br />
                        <form id="password_reset_form">
                            <input id="reset_token" type="hidden" value="{{ reset_token }}" />
                            <div class="form-group">
                                <input class="form-control" type="password" id="new_password" placeholder="New Password" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" id="repeat_new_password" placeholder="Repeat Password" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" id="submitButton">Change Password</button>
                            </div>
                        </form>
                        {% else %}
                        <p class="card-text">{{ body_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function passwordForm(e) {
            if (e.preventDefault) e.preventDefault();

            // Disable submit button:
            document.getElementById('submitButton').classList.add('disabled');

            var newPassword = document.getElementById('new_password').value;
            var repeatNewPassword = document.getElementById('repeat_new_password').value;
            var resetToken = document.getElementById('reset_token').value;

            if (newPassword != repeatNewPassword) {
                document.getElementById('errors').innerHTML = '<span class="text-danger">Passwords do not match. Try again.</span>';
                document.getElementById('submitButton').classList.remove('disabled');
                return false;
            }
            var data = JSON.stringify({
                "reset_token": resetToken,
                "password": newPassword
            });
            $.ajax({
                type: "POST",
                url: '/reset',
                contentType: 'application/json',
                data: data,
                success: function(d) {
                    console.log(typeof(d));
                    if (d.status == "success") {
                        document.getElementById('errors').innerHTML = '<span class="text-success">' + d.message + '</span>';
                    } else {
                        document.getElementById('errors').innerHTML = '<span class="text-danger">' + d.message + '</span>';
                    }
                }
            }).fail(function(xhr, status, error) {

                var d = xhr.responseJSON;
                if (d.status == "success") {
                    document.getElementById('errors').innerHTML = '<span class="text-success">' + d.message + '</span>';
                } else {
                    document.getElementById('errors').innerHTML = '<span class="text-danger">' + d.message + '</span>';
                }
            });

            // Re-enable submit button:
            document.getElementById('submitButton').classList.remove('disabled');


            // You must return false to prevent the default form behavior
            return false;
        }


        var form1 = document.getElementById('password_reset_form');
        if (form1.attachEvent) {
            form1.attachEvent("submit", passwordForm);
        } else {
            form1.addEventListener("submit", passwordForm);
        }
    </script>


</body>

</html>